*{
    box-sizing: border-box;/*O asteristico (*) serve para estilizar todos os elementos.*/ 
}
body{
    font-family: 'Calibri';
}
.cabecalho{
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,1);
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo{
    background-image: url(img/logotipo-preto.png);
    background-repeat: no-repeat;
    display: block;
    width: 139px;
    height: 53px;
    text-indent: -9999px;
    margin: 0;

}
.menu-pricipal__btn{
    display: block;
    width: 53px;
    height: 50px;
    text-indent: -9999px;
    background-color: #fff;
    background-image: url(img/menuprincipal-btn-bg.png);
    background-repeat: no-repeat;
    background-position: -42px 7px;
    background-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
}
.mune-principal__lista{
    padding: 0;
    list-style: none;
    transition: margin 200ms ease-out;
}
.menu-pricipal__item{
    text-decoration: none;
    font-weight: bold;
    color: #343434;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    height: 20px;transition: all 200ms ease-out;
}