@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #99A8CC;
}

main{
    padding: 30px;
    display: block;
    max-width: 350px;
    margin: auto;
}

div>h1{
    background-image: linear-gradient(to bottom,#363E59, #1A1F33, #06080D);
    min-height: 150px;
    padding-top: 40px;
    color: white;
    text-shadow: 5px 0px 6px rgba(238, 43, 238, 0.999);
}

section.apresent{
    background-color: #363E59;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 4px 20px 20px 20px;
}

section.contato{
    background-color: #363E59;
    border-radius: 15px;
    padding: 4px 20px 20px 20px;
}

h1,h2{
    font-family: "Edu TAS Beginner", cursive;
    margin-bottom: 10px;
}

h1{
    text-align:center;
    margin-bottom: 10px;
    font-size: 3.3em;
    text-shadow: 5px 0px 6px rgba(238, 43, 238, 0.999);
   
}

h2{
    font-size: 2em;
    color: white;
    text-shadow: 5px 0px 6px rgba(238, 43, 238, 0.999);
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: auto;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    color: white;
}

li a{
    text-decoration: none;
    color: #99A8CC;

}

li a:hover{
    text-decoration: underline;
}

li{
    color: white;
    list-style-position: inside;
}
#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}