@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Figtree:wght@900&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arapey", serif;;
}

body, html{
    background-color: beige;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 14px -6px 10px 8px rgba(0, 0, 0, 0.726);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}
h1{
    padding-top: 50px;
    padding-bottom: 25px;
}
#cadast >label{
    
}
#cadast > input{
    padding-bottom: 20px;
    display: block;
    width: 80%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px 0px;
    font-size: 1em;
    text-align: left;
    padding: 20px 0  20px  15px;
}

#cadast, h1{
    padding-left: 40px;
    
}

#but{
    padding-left: 40px;
}
